<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- Campo Username -->
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>

        <!-- Campo Email -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="email"></ion-input>
        </ion-item>

        <!-- Campo Password -->
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>

        <!-- Botón de Registro -->
        <ion-button expand="full" (click)="register()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
